@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14% 4%;
    --card: 60 30% 96%;
    --card-foreground: 20 14% 4%;
    --popover: 60 30% 96%;
    --popover-foreground: 20 14% 4%;
    --primary: 12 56% 63%;
    --primary-foreground: 10 30% 98%;
    --secondary: 12 30% 85%;
    --secondary-foreground: 12 56% 20%;
    --muted: 12 30% 90%;
    --muted-foreground: 12 20% 40%;
    --accent: 121 38% 27%;
    --accent-foreground: 120 30% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 20% 75%;
    --input: 12 20% 80%;
    --ring: 12 56% 63%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 60 56% 91%;
    --card: 20 14% 8%;
    --card-foreground: 60 56% 91%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 56% 91%;
    --primary: 12 56% 63%;
    --primary-foreground: 10 30% 98%;
    --secondary: 121 38% 15%;
    --secondary-foreground: 120 30% 95%;
    --muted: 20 14% 15%;
    --muted-foreground: 60 30% 70%;
    --accent: 12 56% 63%;
    --accent-foreground: 10 30% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 12 56% 63%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
